@font-face {
    font-family: 'dancing_scriptregular';
    src: url(../fonts/dancingscript-regular.woff2) format('woff2'),
    url(../fonts/dancingscript-regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_scriptbold';
    src: url(../fonts/dancingscript-bold.otf) format('otf'),
    url(../fonts/dancingscript-bold.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaabold';
    src: url(../fonts/Comfortaa-Bold.ttf) format('ttf'),
    url(../fonts/Comfortaa-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaalight';
    src: url(../fonts/Comfortaa-Light.ttf) format('ttf'),
    url(../fonts/Comfortaa-Light.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url(../fonts//comfortaa-regular.woff2) format('woff2'),
    url(../fonts/comfortaa-regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'patrick_handregular';
    src: url('patrickhand-regular.woff2') format('woff2'),
    url('patrickhand-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'prataregular';
    src: url('prata-regular.woff2') format('woff2'),
    url('prata-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico-regular.woff2') format('woff2'),
    url('pacifico-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVN Buc Thu';
    src: url('UVN_Buc_Thu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miller Banner';
    src: url('SVN-Miller-Banner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
